section.cta
    .cta__container
        .cta__wrapper
            .cta__content
                .cta-content__text
                    h2.cta-text__title.text-title Get 15-Minutes Complimentary online session.
                    p.cta-text__desc Limited Period Offer. Claim Now.
                a(href="#!").cta-content__btn.button Book now
            .cta__picture
                img(src="./img/cta/cta-img.jpg", alt="Image")
                .cta-picture__addition
                    span Meet