:root {
    --main-color: #4A556C;
    --main-color-1: #333461;
    --light: #FFF;
    --bg-color: #FAF8F6;
    --title-color: #FAF8F6;
    --accent-color: #20AD96;
    --main-font: 'Inter', sans-serif;
    --accent-font: 'Kumbh Sans', sans-serif;
}

// font-family: 'Inter', sans-serif;
// font-family: 'Kumbh Sans', sans-serif;